@font-face {
  font-family: 'BratoncomposerstamproughRegular-PzgB'; 
  src: url('./assets/fonts/BratoncomposerstamproughRegular-PzgB.woff2') format('woff2'),
       url('./assets/fonts/BratoncomposerstamproughRegular-PzgB.woff') format('woff'),
       url('./assets/fonts/BratoncomposerstamproughRegular-PzgB.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal; 
  font-variant-alternates: stylistic(6);;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'BratoncomposerstamproughRegular-PzgB', sans-serif; /* Użyj nazwy fontu zdefiniowanej w @font-face */
  font-variant-alternates: stylistic(6);;
}

.tile-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap;  
}

.tile {
  width: 160px; 
  height: 160px; 
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  cursor: pointer;
  overflow: hidden; 
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Lobster', cursive;
  color: #000000;
  font-weight: bold;
  font-size: 20px; 
  text-align: center;
}

.tile .MuiSvgIcon-root {
  margin-bottom: 10px;
  font-size: 48px; 
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  color: #333;
  background-image: url('./assets/tlo.jpg'); 
  background-size: cover;
  background-repeat: no-repeat; 
}

.app-container {
  max-width: 80vw; 
  width: 375px;
  /* max-width: 100%; */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-top: 30px;

}

@media (min-width: 576px) { /* Dla ekranów o szerokości co najmniej 576px (małe tablety) */
  .app-container {
    width: 576px; /* Pośrednia szerokość */
  }
}

@media (min-width: 768px) { /* Dla ekranów o szerokości co najmniej 768px (tablety i komputery) */
  .app-container {
    width: 800px; /* Większa szerokość */
  }
}

.app-header {
  color: #000000;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold; 
  font-size: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-footer {
  text-align: center;
}

.MuiButton-root {
  background-color: #ffa500;
  color: #fff;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container button {
  margin-bottom: 10px;

}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

