@font-face {
  font-family: 'BratoncomposerstamproughRegular-PzgB'; 
  src: url('./assets/fonts/BratoncomposerstamproughRegular-PzgB.woff2') format('woff2'),
       url('./assets/fonts/BratoncomposerstamproughRegular-PzgB.woff') format('woff'),
       url('./assets/fonts/BratoncomposerstamproughRegular-PzgB.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal; 
  font-variant-alternates: stylistic(6);;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'BratoncomposerstamproughRegular-PzgB', sans-serif; /* Użyj nazwy fontu zdefiniowanej w @font-face */
  font-variant-alternates: stylistic(6);;
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tile {
  width: 180px; 
  height: 180px; 
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  cursor: pointer;
  overflow: hidden; 
  background-color: #8a8a8a;
  /* background-image: url('./assets/tlo.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  transition: color 4s ease, background-position 5s ease; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lobster', cursive;
  color: #5a2c0b;
  font-weight: bold;
  font-size: 20px; 
  text-align: center;
}

/* Efekt hover */
/* .tile:hover {
  background-position: center top 80%;
  color: white; 
} */

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  color: #333;
  background-image: url('./assets/tlo.jpg'); 
  background-size: cover;
  background-repeat: no-repeat; 
}

.app-container {
  width: 375px;
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 30px;
}

.app-header {
  color: #5a2c0b;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold; 
  font-size: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-footer {
  text-align: center;
}

.MuiButton-root {
  background-color: #ffa500;
  color: #fff;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container button {
  margin-bottom: 10px;

}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

